/* IMPORTED FONTS */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* Mulish */

body {
  margin-left: auto;
  margin-right: auto;
  padding: 0 125px;
  background-color: white;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
}

/* HELPER CLASSES */

.fs-italic {
  font-style: italic;
}

.f-s16 {
  font-size: 16px;
}

.f-s18 {
  font-size: 18px;
}
.f-s22 {
  font-size: 22px;
}

.f-s28 {
  font-size: 28px;
}

.f-s40 {
  font-size: 40px;
}

.fw400 {
  font-weight: 400;
}
.fw700 {
  font-weight: 700;
}
.c-blue {
  color: #4a4ff2;
}
.opac-60 {
  opacity: 60%;
}
.lh-13 {
  line-height: 1.3;
}

.lh-15 {
  line-height: 1.5;
}

.pr-30 {
  padding-right: 30px;
}

.pr-24 {
  padding-right: 24px;
}

/* NAVIGATION */

.nav-bar {
  margin-bottom: 100px;
}
.nav-bar .nav-bar__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  padding: 60px 0 0 0;
}

.nav-bar__list-item1 {
  grid-area: 1 / 1 / 2 / 2;
}

.nav-bar__list-item2 {
  grid-area: 1 / 2 / 2 / 3;
  text-align: right;
}

.nav-bar__list-item2 li {
  display: inline-block;
}
.nav-bar__list > li {
  cursor: pointer;
}

.nav-bar__list-item2 > li > a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.3px;
  display: inline-block;
}

/* HEADER */

header {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(100px, 635px) minmax(100px, 290px);
  grid-column-gap: 190px;
  justify-content: center;
}
.header-title {
  grid-area: 2 / 1 / 3 / 2;
}
.header-title h1 {
  margin-bottom: 0;
}
.header-cite__border {
  border-top: 2px solid #979797;
  border-image: linear-gradient(to right, #979797 14%, transparent 14%) 100% 1;
}

.header-cite {
  grid-area: 2 / 2 / 3 / 3;
  margin-top: auto;
  padding-bottom: 23px;
  opacity: 60%;
}

/* IMG GRID */
.img-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: auto;
  grid-gap: 25px;
  justify-content: center;
  margin: 144px 0 91px;
}
.img-wrapper__col {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 357px;
  grid-gap: 20px;
}

.gallery-img {
  width: 100%;
  height: 100%;
}

.item-1,
.item-5,
.item-9 {
  grid-area: 1 / 1 / 2 / 2;
}
.item-2,
.item-6,
.item-10 {
  grid-area: 2 / 1 / 2 / 2;
}
.item-3,
.item-7,
.item-11 {
  grid-area: 3 / 1 / 4 / 2;
}
.item-4,
.item-8,
.item-12 {
  grid-area: 4 / 1 / 5 / 2;
}

/* service list */

.service-wrapper {
  display: grid;
  grid-template-columns: 650px 200px 200px;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.service-wrapper h2 {
  margin: 0;
}
.service-list > li {
  list-style: none;
  opacity: 60%;
  padding: 8px 0;
}

/* awards */

.awards-wrapper {
  display: grid;
  grid-template-rows: 10px 90px span 1 10px 90px span 1;
  grid-template-columns: 250px auto auto 1fr;
  grid-row-gap: 40px;
  grid-column-gap: 150px;

  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 1110px;
  margin-bottom: 116px;
}
h3,
h4,
h5 {
  margin-top: 0;
}
.awards__item1 {
  grid-area: 1 / 1 / 2 / 5;
}

.awards__item2 {
  grid-area: 2 / 1 / 3 / 2;
}
.awards__item3 {
  grid-area: 2 / 2 / 3 / 3;
}
.awards__item4 {
  grid-area: 2 / 3 / 3 / 4;
}
.awards__item5 {
  grid-area: 2 / 4 / 3 / 5;
}

.awards__item6 {
  grid-area: 3 / 2 / 3 / 3;
}

.awards__item7 {
  grid-area: 3 / 3 / 3 / 4;
}
.awards__item8 {
  grid-area: 3 / 4 / 3 / 5;
}

.awards__item9 {
  grid-area: 4 / 1 / 5 / 5;
}

.awards__item10 {
  grid-area: 5 / 1 / 6 / 2;
}
.awards__item11 {
  grid-area: 5 / 2 / 6 / 3;
}
.awards__item12 {
  grid-area: 5 / 3 / 6 / 4;
}
.awards__item13 {
  grid-area: 5 / 4 / 6 / 5;
}

.awards__item14 {
  grid-area: 6 / 2 / 7 / 3;
}

.awards__item15 {
  grid-area: 6 / 3 / 7 / 4;
}

.awards__item16 {
  grid-area: 6 / 4 / 7 / 5;
}
.awards__item17 {
  grid-area: 7 / 1 / 8 / 5;
}

/* footer */

.footer__list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30% auto 20% 20%;
  grid-column-gap: 150px;
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: 46px;
}

.footer__list a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.footer__list li {
  list-style: none;
  display: inline-block;
}

.footer__list-item1 {
  grid-area: 1 / 1 / 2 / 2;
}

.footer__list-item2 {
  grid-area: 1 / 3 / 2 / 4;
}
.footer__list-item3 {
  grid-area: 1 / 4 / 2 / 5;
}
