/* IMPORTED FONTS */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* Mulish */

body {
  margin-left: auto;
  margin-right: auto;
  padding: 0 125px;
  background-color: white;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
}

/* HELPER CLASSES */

.fs-italic {
  font-style: italic;
}

.f-s16 {
  font-size: 16px;
}

.f-s18 {
  font-size: 18px;
}
.f-s22 {
  font-size: 22px;
}

.f-s28 {
  font-size: 28px;
}

.f-s40 {
  font-size: 40px;
}

.fw400 {
  font-weight: 400;
}
.fw700 {
  font-weight: 700;
}
.c-blue {
  color: #4a4ff2;
}

.lh-15 {
  line-height: 1.5;
}

.opac-60 {
  opacity: 0.6;
}

/* NAVIGATION */

.nav-bar {
  margin-bottom: 100px;
  grid-area: 1 / 1 / 2 / 4;
}
.nav-bar .nav-bar__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 0 0;
}

.nav-bar__list > li {
  cursor: pointer;
}

.nav-bar__flex {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.nav-bar__flex > li > a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.3px;
}

/* HEADER */
header {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(100px, 635px) minmax(100px, 207px);
  grid-column-gap: 190px;
}
.header-title {
  grid-area: 2 / 1 / 3 / 2;
}
.header-title h1 {
  margin-bottom: 0;
}
.header-cite__border {
  border-top: 2px solid #979797;
  border-image: linear-gradient(to right, #979797 14%, transparent 14%) 100% 1;
}

.header-cite {
  grid-area: 2 / 2 / 3 / 3;
  margin-top: auto;
  padding-bottom: 23px;
}
